<!DOCTYPE html>
<html>
<head>
	<title>To Do list</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<div class="box" id="heading"><h1><%= listTitle %></h1></div>
	<div class="container col-sm-8">
	<div class="box">
		<%newListItems.forEach((items) => {%>
	  <form form action="/delete" method="post">
		<div class="item">
		<input type="checkbox" name="checkbox" value="<%= items._id %>" onchange = "this.form.submit()">	
		  <p><%= items.name %></p>
	    </div>
	    <input type="hidden" name="listName" value="<%= listTitle %>"></input>
	   </form>
	<%});%>
<form action="/" method="post" class="item">
    	<label for="addAToDoList">To do: </label>
    		<input type="text" name="newItem" placeholder="addAToDoList" autocomplete="off" required>
    	<button type="submit" name="list" value= <%= listTitle %> >+</button>
    </form>
    </div> 
    </div>  
</body>
</html>